html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}


.body {
    background-color: #ddd;
    font-family: "Lato", sans-serif;
}


.footer {
    background-color: teal;
    padding: 30px;
    text-align: center;
    color: white;
}