html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Lato", sans-serif;
    color: #333;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.footer {
    background-color: teal;
    padding: 30px;
    text-align: center;
    color: white;
}

.darkBackground {
    background: rgb(54, 52, 52);
    color: #eee;
}

.navigationItem {
    margin: 10px 0;
}

.navigationLink {
    color: rgb(5, 100, 138);
    text-decoration: none;
}

.navigationLink:focus {
    outline: 2px solid currentColor;
}

.navigationLink:hover {
    color: rgb(8, 173, 202);
    outline: none;
}

.navigationLink:active {
    color: rgb(4, 171, 236);
}

.navigation {
    list-style: none;
    padding-left: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid teal;
    margin-bottom: 0;
}

.image {
    width: 220px;
    height: 285px;
    margin-top: 10px;
    box-shadow: 3px 3px 5px #aaa;

}

.imagePlaceholder {
    text-align: center;
}

.header {
    color: teal;
}

.sectionCentered {
    text-align: center;
}

.section {
    padding: 15px;
}

.table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableCell {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.caption {
    caption-side: bottom;
    text-align: center;
    margin-top: 5px;
}

.tableHeader {
    background-color: #6188a8;
}

.tableHeader:hover {
    background-color: #6698c1;
}

.tableRow:nth-child(even) {
    background-color: #e2e2e2;
    color: #333;
}

.tableRow {
    background-color: white;
    color: #333;
}

.tableRow:hover {
    background: #bbbbbb;
}

.paragraph {
    line-height: 1.5;
}

.changeBackground {
    background-color: teal;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    margin: 5px;
}

.toggleImage {
    background-color: teal;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    margin: 5px;
}

.center {
    overflow-x: auto;
}